@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>

<h4>Our Mission </h4>
<p>Providing exceptional Medication delivery for all our patients.</p>
<h4>Our Vision</h4>
<p>In every way, improving the quality of every life we touch.</p>
<h4>Our Values</h4>
<p>We Are Committed To Excellence Through:</p>
<ul>

    <li>Patient-Centeredness: Putting our patients’ interests first, providing unsurpassed service, with an emphasis on safety and quality outcomes.</li>

    <li>Integrity: All that we say and do is founded in honesty, openness and respect.</li>
    <li>Cultural Diversity: Respecting our community’s multicultural diversity in our daily operations and practices.</li>
    <li>Innovation: Encouraging creativity, embracing change, continual learning and personal empowerment.</li>
    <li>Teamwork: Embracing a variety of opinions and being mutually supportive in achieving our vision.</li>
    <li> Accountability: To our community, our organization and to each other for our individual and organizational performance and behaviors.</li>
</ul>